
@use '../../scss/mixins.scss' as *;
@use '../../scss/colors.scss' as *;


.services{


    &__container{
        
        padding:100px 80px;
    }

    &__headerTitle{
        text-align:center;
        color: black;
        padding: 0px 100px 64px 106px;
        letter-spacing: -1.44px;
    }

    &__title{
        @include my-text-gradient(#00796D,#38C682);
    }
    &__cards{
        @include inline-flex-container(column,center,flex-start);
        gap: 24px;
        width: 100%;
        box-sizing: border-box;
    }

    @include mobile-and-tablet{

        &__container{
            padding:56px 24px;
        }
       

        &__headerTitle{
           @include text-styles('5xl','bold');
           padding: 0px 0px 32px 0px;
        }

        &__title{
            @include text-styles('5xl','bold');
        }
    }
    

    
}