
@use '../../../scss/mixins.scss' as *;
@use '../../../scss/colors.scss' as *;




.navbar{

    
    &__container{
        @include flex-container(row, space-between,center);
        flex-shrink: 0;
        background:$grey-900;
        padding: 0px 80px; 
        height: 94px;
    }

    &__logo{
        width: 176px;
        height: 58.3px;
    }

    &__unorderedList{
        @include flex-container(row,center,center);
        gap: 40px;
    }

    &__anchor{
        @include text-styles('lg','medium');
        border-bottom:3px transparent solid;
        padding-bottom:0.5rem;
        transition: border-color 0.8s;

        &:hover{
            border-color: $primary;
        }
    }

    &__anchor--primary{
        border-color: $primary;
    }

    &__hamburger{
        display: none;
    }
    
   
    @media screen and (max-width: 850px){
        &__container{
            padding: 24px;
            height: auto;   
        }

        &__unorderedList{
            display: none;
        }
        &__button{
            display: none;
        }

        &__hamburger{
            display: block;
        }  
            &__logo{
                    width: 170px;
                    height: 70px;
            }
    }

       
    
}