


@use '../../../scss/mixins.scss' as *;
@use '../../../scss/colors.scss' as *;

.dropdownCard{


    &__container{
        @include flex-container(row,flex-start,flex-start);
        gap: 40px;
        padding: 54px 60px;
        @include text-styles('4xl','semi-bold');
        background-color: $grey-50;
        border-radius: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    &__container2{  
        @include flex-container(column,center,flex-start);
        gap: 24px;
        box-sizing: border-box;
        width: 100%;
    }

    &__header{
        @include flex-container(row,space-between,center);
        box-sizing: border-box;
        width: 100%;
    }

    &__content{
        @include flex-container(column,center,flex-start);
        gap: 40px;
    }

    &__number{
        color: $grey-700;
    }

    &__number.open{
           @include my-text-gradient(#00796D,#38C682)
    }
   
    &__title{  
        color: $grey-700;
    }

            &__title.open{
                @include my-text-gradient(#00796D,#38C682)
            }

            &__image{
                width: 100%;
                border-radius: 20px;
            }

            &__text{
                @include text-styles('lg','regular');
                color: $grey-600;
            }

  

    @include mobile-and-tablet{

        &__container{
            padding:24px;
            @include text-styles('xl','bold');
            gap: 12px;
            z-index:1;
        }

        &__arrowDown,&__arrowRight{
            width: 24px;
            height: 24px;
        }

        &__text{
            @include text-styles('md','regular');
            color: $grey-600;
        }

        &__image{
            width: 100%;
            height: 133px;
        }

        &__container2{  
            gap: 16px;
        }
        
    }

}
