
@use '../../../scss/mixins.scss' as *;
@use '../../../scss/colors.scss' as *;

.testimonialCard{
    &__container{
        @include flex-container(column,center,flex-start);
        padding: 24px;
        gap:24px;
        background: $grey-50;
        border-radius: 12px;
        color: $grey-500;
        width: max(430px,30vw);
       

        &:hover{
            background: $primary-500;
            color: $grey-50;
            .testimonialCard__name{
                color: $grey-50;
            }
        }

    }

    &__contentText{
        @include text-styles('xl','regular');
        
    }

    &__name{
        @include text-styles('xl','semi-bold');
        color: $grey-900;
    }

    &__occupation{
        @include text-styles('md','regular');
        opacity: 0.9;
    }

    &__info{
        @include flex-container(row,flex-start,center);
        gap: 12px;
        align-self: stretch;
    }

    &__infoContainer{
        @include flex-container(column,flex-start,flex-start);
        gap: 4px;
        flex: 1 0 0;
    }

    @include mobile-and-tablet{
        
        &__container{
            gap: 16px;
            font-size: smaller;
            width: max(279px,30vw);
        }

        &__contentText{
            @include text-styles('md','regular');
        }

        &__name{
            @include text-styles('md','bold');
        }

        &__occupation{
            @include text-styles('sm','regular');
        }
        &__infoContainer{
            gap: 2px;
        }
 
    }
}