

@use '../../scss/colors.scss' as *;
@use '../../scss/mixins.scss' as *;
@use '../../scss/functions.scss' as *;





.achievements{
    &__container{
        padding: min(80px,calculateVH(80)) min(80px,calculateVW(80));
        background: $primary-100;
    }

    &__text{
        @include text-styles('6xl','medium');
        color:$grey-800;
        
        padding-bottom: 8.32vh;
    }

    &__numbersContainer{
        @include flex-container(row,space-evenly,center);
        background: $primary-500;
        padding: 4.16vh 2.24vw;
        border-radius: 20px;
    }

    &__numbers{
        text-align: center;
        @include text-styles('2xl','medium');
        &--number{
            padding-bottom: 1.3vh;
        }
    }

    @media screen and (max-width: 1050px){
        &__numbers{
            font-size: 20px;
            &--number{
                font-size: 64px;
            }
        }
        
    }



        @include mobile-and-tablet{

            
            
            &__text{
                @include text-styles('2xl','regular');
            }

            &__numbersContainer{
                @include flex-container(column,space-evenly,center);
                gap: 24px;
            }
            &__numbers{
                
                @include text-styles('md','regular');

                &--number{
                    font-size: 48px;
                }
                
            }

        }
    }


