

@use '../../scss/mixins.scss' as *;
@use '../../scss/colors.scss' as *;
@use '../../scss/functions.scss' as *;



.works{

        &__container{
      
            @include flex-container(column,center,center);
            gap:64px;
            background: url('../../icons/bg_header.png') no-repeat center/ cover ;
            background-color: $grey-900;
            padding: min(100px,calculateVH(100)) min(80px,calculateVW(80));
        
        }

        &__header{
            @include flex-container(column,center,center);
            gap: 56px;
            padding: 0px min(153px,calculateVW(153));
        }

        &__headerTitle{
                line-height: 1;
                text-align: center;
                padding-bottom: 24px;
                letter-spacing: -2.44px;

                &--primary{
                     padding-left: 10px;
                     @include my-text-gradient(#00796D,#38C682);
                }
        }

        &__headerText{
            text-align: center;
            padding: 0px 20px;
        }

        &__body{
            @include flex-container(column,center,center);
            gap: 64px;
            
        }

        &__toggleContainer{
            @include flex-container(row,center,center);
            border-radius: 100px;
            background: white;
            padding: 8px;
        }

        &__toggleBtn{
            background: white;
            color: $grey-500;
            @include text-styles('md','medium');
            cursor: pointer;
            z-index: 2;
            

            &:hover{
                background: $primary-500;
                color: white;
            }

            &--primary{
                background: $primary-500;
                color: white;
            }
        }

        &__mobileBtnText{
            display: none;
        }

    &__projectContainer{
        @include flex-container(row,center,center);
        gap: 20px;
    }


    @include mobile-and-tablet{


        // &__container{
        //     padding: 56px 24px;
           
        // }

        &__headerTitle{
            @include text-styles('5xl','bold');
            letter-spacing: -0.72px;
         }

         &__headerText{
            @include text-styles('sm','medium');
            text-align: center;
            padding: 0px;
        }

        &__body{
            gap: 32px;
        }

        &__toggleContainer{
            padding: 4px;
        }

        &__toggleBtn{
            padding: 8px 16px;
        }

        &__mobileBtnText{
            display: block;
        }
        &__desktopBtnText{
            display: none;
        }

        &__projectContainer{
            @include flex-container(column,center,center);
            gap: 12px;
        }

    }





}