

@use '../../scss/mixins.scss' as *;
@use '../../scss/colors.scss' as *;
@use '../../scss/functions.scss' as *;



.testimonials{
    

    &__container{
        
        @include flex-container(column,center,center);
     
    }


    &__CardContainer{
        
        @include flex-container(row,center,center);
        flex-wrap: wrap;
        align-content: center;
        gap: 40px;
        padding: 44px min(150px,calculateVW(150));
    }


    @include mobile-and-tablet{

        &__CardContainer{

           @include flex-container(column,center,center);
           flex-wrap: nowrap;
           padding: 22px 0px;
        }
    }


}