
@forward 'colors';
@forward 'mixins';
@forward 'typography';
@forward 'buttons';
@use 'colors' as *;
@use 'mixins' as *;


//General Styles
*{
    margin:0;
    padding:0;
    
}

.App{

    @include flex-container(column,flex-start,center);
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    min-width: 420px;
    background: white;
    color: white;
    

    &-header{
        background: url('../icons/bg_header.png') no-repeat center/ cover ;
        background-color: $grey-900;
        width: 100%;
    }

    &-body{
        width: 100%;   
    }

    &-footer{
        width: 100%;
    }

   

    
}


