
@use 'functions' as *
;
@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin inline-flex-container($direction: row, $justify: flex-start, $align: stretch) {
    display: inline-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin my-text-gradient($start-color, $end-color) {
    background: linear-gradient(to left, $start-color, $end-color);
    -webkit-background-clip: text;
    color: transparent;
  }

  @mixin text-styles($font-size, $font-weight) {
    font-style: normal;
    font-size: get-font-size($font-size);
    font-weight: get-font-weight($font-weight);
    line-height: 1.5;
    
  }

  @mixin mobile{
    @media screen and (max-width: 430px){
        @content;
    }
  }

  @mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
  }

  @mixin mobile-and-tablet {
    @include mobile {
      @content;
    }
  
    @include tablet {
      @content;
    }
  }
    
  

  